<!DOCTYPE html>
<html>

    <body>
        <h1>Pig Latinizer!</h1>
        <h2>user_phrase</h2>
        <form method="POST" action="/user_input">
            
        <p>Enter your phrase: <input type="text" name="user_phrase"></p>
        <input type="submit">
        </form>
        
    </body>
</html>